body {
  font-family: Raleway, 'Helvetica Neue', 'Calibri Light', sans-serif;
  text-align: center;
  background-color: #222;
  color: white;
  font-size: large;
}

@media screen and (min-width: 320px) {
  .wrapper {
    max-width: 960px;
    margin: 0 auto; }
}
