#home img {
  margin: 20px;
  height: 50vh;
  animation: App-logo-bounce infinite 3s linear;
}

#home {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}

#prompt h2 {
    margin: 20px;
}

@keyframes App-logo-bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(10px); }
  100% { transform: translateY(0px); }
}

#error {
    background-color: #ee3b3b;
    margin: 5px auto;
}

input {
    color: #222;
    text-align: center;
}
