#home img {
  margin: 20px;
  height: 50vh;
  animation: App-logo-spin infinite 20s linear;
  animation: App-logo-bounce infinite 3s linear;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-logo-bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(10px); }
  100% { transform: translateY(0px); }
}

#error {
    background-color: #ee3b3b;
    margin: 5px auto;
}

input {
    color: #222;
    text-align: center;
}
