.progress {
    transition: all 0.2s ease;
    height: 10px;
    width: 50vw;
    background-color: #337ab7;
    margin: 0px;
    border-radius: 0px;
}

h1 {
    margin-bottom: 50px;
}

#question-group {
    background-color: #337ab7;
    border-radius: 25px;
    padding: 10px 10px 55px 10px;
    margin: 0 auto;
    box-shadow: inset 0px 0px 10px black;
}

@media screen and (min-width: 768px) {
  #question-group {
    width: 75vw;
  }
}

#question-number {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #333;
    display: inline-block;
    line-height: 50px;
    box-shadow: inset 0px 0px 5px white;
}

#error {
    background-color: #ee3b3b;
    margin: 5px auto;
}

#question-number h1 {
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 0px;
}

label {
    background-color: white;
    border-radius: 10px;
    width: 90vw;
    margin: 5px auto;
    padding: 10px;
    text-align: left;
    color: #333;
}

button {
    margin-bottom: 100px;
}

